[submodule "STM32_CONTROLLER_USER_INTERFACE"]
	path = STM32_CONTROLLER_USER_INTERFACE
	url = https://github.com/saduncakmakli/STM32_CONTROLLER_USER_INTERFACE.git
[submodule "STM32_STEP_CONTROLLER_EMBEDDED_C_CODE"]
	path = STM32_STEP_CONTROLLER_EMBEDDED_C_CODE
	url = https://github.com/saduncakmakli/STM32_STEP_CONTROLLER_EMBEDDED_C_CODE.git
